body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.eachUser {
  height: 260px;
  width: 249px;
  border: 1px solid #666;
  margin: 11px;
  padding: 5px 31px 19px 31px;
  flex-direction: column;
  display: flex;
}

img {
  margin: 17px;
}

p {
  margin: 13px 0 0 0;
}

h1 {
  margin-left: 11px;
}
