<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>User Directory</title>
  </head>
  <body>
    <h1>Index</h1>
    <div class="container">
        {{ #users }}
          <div class="eachUser">

          <img src="{{ avatar }}" alt="user photo">
          <a href="/info/{{id}} ">{{ name }}</a>
          <p>

          {{#job}}
          {{ job }},
          {{/job}}
          {{^job}}
            <span>Available for hire</span>
          {{/job}}
          {{ company }}</p>
        </div>

      {{ /users }}
    </div>
  </body>
</html>
